.home-section{
    padding:80px; /* 16px */;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 70vh;
    position: relative; 
}
 
.background-image{
    position:absolute;
    bottom:-10px;
    right:160px;
    z-index: -2;
    max-width: 700px;
}



 
.heading{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.heading-h1{
    font-size: 3rem /* 48px */;
    line-height: 103.47px;
    letter-spacing: -2.78px;
    text-align: left;
    font-weight: 400;
    font-size: 111.04px;
    /* @media (min-width: 1024px) {
        .lg\:text-left {
            text-align: left;
        }
    } */

 
}

.description-div{
    position: static;
    width: 394px;
    font-size: 20px;
    font-weight: 400;
}

.explore-btn{
    border-style: none;
    border-radius: 17px;
    border: 1px solid #fff;
    background-color: transparent;
    color:#fff;
    width: 111.17px;
    height: 35.29px;
    margin-top: 36px;
    padding: 9.63px 19.25px 9.63px 19.25px;
    font-size: 12.83px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .home-section {
        padding: 40px; /* Reduce padding on medium screens */
    }

    .heading-h1 {
        font-size: 64px; /* Reduce heading font size */
        line-height: 80px;
    }

    .description-div {
        width: 300px; /* Reduce width for the description */
        font-size: 18px; /* Adjust font size */
    }

    .background-image {
        max-width: 500px; /* Adjust image size */
        right: 50px; /* Move image closer to the center */
    }
}